{{ define "main" -}}

<div><a class="td-offset-anchor"></a></div>
<section
        class="row td-box td-box--primary position-relative td-box--height-auto"
>
    <div class="col-12">
        <div class="container text-center td-arrow-down">
            <div class="h4 mb-0">
                <h1>Welcome to the EDC Community</h1>
                <p class="pt-2"></p>
                <div>Do you have a question, want to file an issue, or are interested in contributing to EDC?</div>
            </div>
        </div>
    </div>
</section>
<div class="text-center pt-5">
    <small>We expect all members to adhere to the <a target="_blank"
                                                     href="https://www.eclipse.org/org/documents/Community_Code_of_Conduct.php">
        Eclipse Code of Conduct</a></small>
</div>
<div class="pt-5">
    <div class="block-text-container">
        <div class="text-center"><h3><i class="fab fa-github"></i>&nbsp;&nbsp;Key Repositories</h3></div>
        <div class="pt-3 block-text">
            EDC is hosted in multiple repositories organized by function. The key EDC repositories are:
            <div class="pt-3">
                <span class="text-success"><i class="fa-regular fa-circle"></i></span>&nbsp;&nbsp;
                <a href="https://github.com/eclipse-edc/Connector"><strong>Connector</strong></a> - Control Plane and
                Data Plane
            </div>
            <div class="pt-3">
                <span class="text-success"><i class="fa-regular fa-circle"></i></span>&nbsp;&nbsp;
                <a href="https://github.com/eclipse-edc/FederatedCatalog"><strong>Federated Catalog</strong></a> - Data
                Catalog
            </div>
            <div class="pt-3">
                <span class="text-success"><i class="fa-regular fa-circle"></i></span>&nbsp;&nbsp;
                <a href="https://github.com/eclipse-edc/IdentityHub"><strong>Identity Hub</strong></a> - Decentralized
                Identity
            </div>
            <div class="pt-3">
                <span class="text-success"><i class="fa-regular fa-circle"></i></span>&nbsp;&nbsp;
                <a href="https://github.com/eclipse-edc/MinimumViableDataspace"><strong>MVD</strong></a> - Complete
                Dataspace Setup
            </div>
            <div class="pt-3">
                <span class="text-success"><i class="fa-regular fa-circle"></i></span>&nbsp;&nbsp;
                <a href="https://github.com/eclipse-edc/Samples"><strong>Samples</strong></a> - Getting Started
                Tutorials
            </div>
            <div class="pt-4">
                Cloud-specific extensions are hosted in individual technology repositories.
            </div>
        </div>
        <div class="pt-5"></div>
        <div class="text-center"><h3><i class="fa fa-comment"></i>&nbsp;&nbsp;Asking a Question</h3></div>
        <div class="pt-3 block-text">
            If you have a question about how to use EDC, please ask on <a target="_blank"
                                                                          href="https://discord.gg/n4sD9qtjMQ">Discord
            <i class="fab fa-discord"></i></a>
            <br>
            If you have a question about the EDC codebase or would like to explore
            the feasibility of a new feature, open a discussion in the appropriate GitHub repository. Please do not open
            a discussion about how to use EDC (use Discord instead).
        </div>
        <div class="pt-4"></div>
        <div class="text-center pt-4"><h3><i class="fa fa-bug"></i>&nbsp;&nbsp;Filing an Issue</h3></div>
        <div class="pt-3 block-text">
            If you think you have identified a bug please do the following:
            <div class="pt-3">
                <strong>
                    <span class="text-danger"><i class="fa-solid fa-bug-slash"></i></span>&nbsp;&nbsp;If you have a
                    setup question or a build problem, do not file an issue, open a discussion.
                </strong>
            </div>
            <div class="pt-3">
                <span class="badge bg-success">1</span>&nbsp;&nbsp;Search existing issues in the appropriate GitHub
                repository's issue page.
            </div>
            <div class="pt-3">
                <span class="badge bg-success">2</span>&nbsp;&nbsp;If an issue appears to cover changes that will
                significantly impact the codebase, open a discussion before creating an issue.
            </div>
            <div class="pt-3">
                <span class="badge bg-success">3</span>&nbsp;&nbsp;Label the issue and include clear steps to reproduce
                it.
            </div>
            <div class="pt-3">
                <span class="badge bg-success">4</span>&nbsp;&nbsp;The issue will have a greater chance of being
                addressed if you include a self-contained test case.
            </div>
            <div class="pt-3">
                <span class="-text-yellow"><i class="fa-solid fa-circle-info"></i></span>&nbsp;&nbsp;The project uses a bot that
                closes stale issues. Details can be found in the <a
                    href="/documentation/for-contributors/guidelines#stale-issues-and-prs">Contribution Guidelines</a>.
            </div>
        </div>
        <div class="pt-4"></div>
        <div class="text-center pt-4"><h3><i class="fa fa-code-pull-request"></i>&nbsp;&nbsp;Contributing</h3></div>
        <div class="pt-3 block-text">
            We welcome contributions and appreciate your interest. If you would like to contribute to EDC:
            <div class="pt-3">
                <span class="badge bg-success">1</span>&nbsp;&nbsp;Invest time in thoroughly understanding the EDC
                codebase and reading the <a href="/documentation/for-contributors/guidelines">Contribution
                Guidelines</a>.
            </div>
            <div class="pt-3">
                <span class="badge bg-success">2</span>&nbsp;&nbsp;We highly recommend starting by contributing
                documentation.
            </div>
            <div class="pt-3">
                <span class="badge bg-success">3</span>&nbsp;&nbsp;Chose issues labeled <span class="badge"
                                                                                              style="background-color: #7057FF">Good First Issue</span>.
                Please do
                not select other issues unless asked by a committer.
            </div>
            <div class="pt-3">
                <span class="badge bg-success">4</span>&nbsp;&nbsp;Request feedback early by opening a discussion and
                submitting a draft PR.
            </div>
        </div>
        <div class="pt-4"></div>
    </div>
</div>


{{ end }}