name: Check Links # use https://github.com/marketplace/actions/run-linkspector-with-reviewdog
on: [ workflow_dispatch, pull_request ]
jobs:
  check-links:
    name: runner / linkspector
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run linkspector
        uses: umbrelladocs/action-linkspector@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          reporter: github-pr-review
          filter_mode: nofilter
          fail_level: any
          config_file: .linkspector.yml